@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family:'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:15px;

}
.container{
    max-width:360px;
    margin:0 auto;
    text-align: center;
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding:20px;
    border-radius: 20px;
}
.card img{
    width:100%;
    border-radius: 20px;
}
.text{
    padding:20px 10px;
}
.text h2{
    color:hsl(218, 44%, 22%);
    padding-bottom:12px;
}
.text p{
  color:  hsl(220, 15%, 55%);
  font-size:18px;
}
@media(max-width:425px){
    .container{
        width:360px;
        padding:20px;
    }
}
